@import "~bootstrap/scss/functions";

$body-bg: #343536;
$input-color: white;
$form-check-input-border: 1px solid rgba(white, .25);

$modal-content-color: white;
$modal-content-bg: rgb(52, 52, 62);


@import "~bootstrap/scss/variables";